---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
<script is:inline>
     const theme = (() => {
       if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
         return localStorage.getItem('theme');
       }
       if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
         return 'dark';
       }
       return 'light';
     })();
     document.documentElement.setAttribute('data-theme', theme);
   </script>
	<nav>
		<h2><a href={`/${lang}`}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
		<HeaderLink><ThemeToggle /></HeaderLink>
			<HeaderLink href={`/${lang}`}>{t("nav.home")}</HeaderLink>
			<HeaderLink href={`/${lang}/blog`}>Blog</HeaderLink>
			<HeaderLink href={`/${lang}/about`}>{t("nav.about")}</HeaderLink>
		</div>
		    <SocialLinks />
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
